<div class='box-form'>
  <div class='box-title'>
    <div class='shortner-form'>
      <form action='/' method='post'>
        <fieldset>
          <legend>Simplify your links</legend>
          <div>
            <input type='text' id='og_link' name='og_link' placeholder='put your long link in me' />
            <input type='submit' value='submit me!' method='post' />
          </div>
        </fieldset>
    </div>

  </div>
</div>


<div class='box-database'>
  <div class='box-title'>Your short links!</div>
  <div class='box-content'>
    {{#each urlObjects as |urlObject|}}
      <table>
        <tr>
          <th>Original URL</th>
          <th>Shortened URL</th>
          <th>Number of Visits</th>
        </tr>
        <tr>
          <td class="url"> {{urlObject.targetUrl}} </td>
          <td class="key" id='{{urlObject.shortUrl}}'><a href="/{{urlObject.id}}" >{{urlObject.shortUrl}}</a></td>
          <td class='visits' >{{urlObject.count}}</td>
        </tr>
      </table>
          {{/each}}

</div>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
let socket = io.connect('http://localhost:4290')

socket.on('new visit', function(data) {
  // Each row has an ID that is the code from the URL.
  //Get the element with that ID.
  io.emit('new visit', {
   code: pathname,
   visits: /* new count goes here */
});

  let $tr = $("#" + data.code)
  console.log(data)
  // Get the "visits" element inside this row that
  // contains the count, and update it to contain the
  // new # of visits
  $tr.find('.visits').html(data.visits)
})



</script>
